/* fuentes */
$fuente-color: black;

$fuente-size-ms: 1.5rem;


// medidas

$ancho-max: 1200px;
$ancho-max2: 1200px;

$ancho-max3: 1176px;
//colores

//color base
$color-base: #ece2c6;

$color-base1:black;
$color-base2: beige;

$color-base3:#786b5e;

$color-base4:#c0b8a2;
$color-base5: #414c3b;
$color-base6:grey;
$color-encabezado: #c6a664;






