
.contenedor-titulo{
    margin: auto;
    margin-top: 2rem;
    text-align: center;
}

.contenedor-formulario-cotizar{
    max-width: $ancho-max;
    margin: auto;
    margin-top: 3rem;
}

.frase-imagen{
    font-size: 3rem;    
}
