#formularioPro{
   // @include contenedor;
    visibility: hidden;
}

#productos{
    margin-top: 5px;
}
#titulaSalida{
    text-align: center;
    
}

.mensajeSalida{
    align-items: center;
    min-height: 100px;
    max-width: 400px;
    background-color: #c6a664;
    margin: auto;
    padding-top: 30px;
}

.estiloContenedorProductos{
    @include contenedor;
    background-color: #ece2c6;
    min-height: 200px;
    max-height: 800px;
    max-width: 1200Px;
   
 }
 .estiloProducto{
    background-color: gray;
    border-radius: 5%;
    border: solid 1px black;
    align-items: center;
    margin: auto;
    padding: 1%;

}

.estiloProducto:hover{
    border: solid 2px g;
    background-color: beige;
}